@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a12;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
